* {
  border: 1px solid green;
}

html {
  height: 100%;
  min-height: 100%;
  font-size: 13px; /* reset de verschillende bootstrappen, die afhankelijk zijn van de size van de root (html tag) font size */
}

body {
  height: 100%;
  min-height: 100%;
}

header {
  height: 20%;
  min-height: 20%;
}

main {
  height: 70%;
  min-height: 70%;
  max-height: 70%;
}

footer {
  height: 10%;
  min-height: 10%;
}

@media screen and (min-width: 768px) {
  /*
  #collapseExample {
    display: block;
  }
  #collapse_button {
    display: none;
  }
  #collapse_div {
    display: none;
  }
  */
  #instructions_button_div {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #instructions {
    display: none;
  }
}
